@page "/"

<PageTitle>Home</PageTitle>

<h3>Fortnite replay web parser</h3>

<br \>This is my app, the Forntie replay web parser.
It is built around the <a href = "https://www.nuget.org/packages/FortniteReplayReader">Fortnite Replay Reader</a>.

<br \>It is a simple web app that allows you to upload a Fortnite replay file and view the leaderboard of the game.
<br \>Just click on the "Solo Replay uploader" in the menu to get started, and upload a replay file. 
<br \>
<p>It is still under construction, so please be patient, and feel free to report any bugs you find.</p>

<br \>And if you like it, consider <a href="https://buymeacoffee.com/noikri4" target="_blank">buying me a coffee</a> to support me, and help me to keep the server running.

<br \>This app was originally created for RÍSÍ (E-sport federation of Iceland) to see if I could ease the process of collecting the scores after each game.

